*{
    padding: 0;
    margin: 0;
}
body{
    padding: 20px;
    margin: 20px;
}
.header{
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 14px;
    border-radius: 10px;
}
.food-chicken, .food-Egg, .food-papaya, .food-veggies li{
    list-style: none;
}
.food-chicken, .food-Egg, .food-papaya, .food-veggies{
    margin-top: 20px;
    border: 1.5px black solid;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    padding: 9px;
    border-radius: 10px;
}
.Container{
    text-align: center;
}
.footer{
    margin-top: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.footer-heading__table{
    margin: 10px auto;
}
.footer-heading{
    text-align: center;
}
.footer-heading__table-Send{
    margin-top: 10px;
    color: white;
    background-color: orange;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}
